* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    filter: drop-shadow(0.2rem 0 0.2rem rgba(0, 0, 0, 0.2));
}   



.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "menu main"
        "footer footer";
    height: 100vh;
}

header {
    grid-area: header;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 7rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(135deg, #b9c8c7, #86c681, #b9c8c7);;
    padding-right: 6rem;
}

.logo {
    height: 7rem;
    width: 13.23rem;
    object-fit: cover;
}


.nav{
    display: flex;
    gap: 3rem;
    font-size: small;
    margin-left: 5rem;

}

#typewriter {
  border-right: 2px solid #333;
  padding-right: 4px;
  animation: blink-cursor 0.7s steps(1) infinite;
  font-size: 1.5rem;
}

@keyframes blink-cursor {
  0%, 100% { border-color: #333; }
  50% { border-color: transparent; }
}

menu {
    grid-area: menu;
    background-color:  rgba(172, 168, 168, 0.384);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
    text-transform: uppercase;

}

.menu-list a {
    text-decoration: none;
    color: #353232;
    
}

.item1 p{
    
    font-size: large;
    font-weight: normal;
    font-style: italic;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main {
    grid-area: main;
    background-color: rgb(213, 209, 209);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding-top: 2rem;
  
    

}

.card {

    width: 14rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-bottom: 2rem
    
}

.card-img-top {
    width: 100%;
    height: 15rem;      
    object-fit:fill; 
    
}


.card-body a {
    text-decoration: solid;
    color: black;
    background-color: #86c681;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    margin-top: 2rem;
    
}

.card-body h5 {
    font-size: 1rem;
    font-weight:600;
    font-style: italic;
    color: #333;
}

.card-body p {
    font-size: 0.8rem;
    color: #353232;
}

.card-text span{
   font-size: larger;
   text-shadow: #86c681 0.1rem 0.1rem 0.2rem;
}

footer {
    grid-area: footer;
    height: 7rem;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    background: linear-gradient(135deg, #b9c8c7, #86c681, #b9c8c7);;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6rem;
    font: 100;
    margin-top: 0.5rem;

}

.footer-content img {
    height: 3rem;
    object-fit: contain;
    margin-top: 0.5rem;
    border-radius: 50%;
}
   


